<!DOCTYPE html>
<html>
<head>
    <title>Bank Note Authentication</title>
    
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <form id="myForm">

        <label for="variance">Enter Variance</label>
        <input type="text" id="variance" name="variance">
         <br>
        <label for="skewness">Enter skewness</label>
        <input type="text" id="skewness" name="skewness">
       <br>
        <label for="curtosis">Enter Curtosis</label>
        <input type="text" id="curtosis" name="curtosis">
        <br>
        <label for="entropy">Enter Entropy</label>
        <input type="text" id="entropy" name="entropies">
        <br>
        <button type="submit">Submit</button>
        <div id="output"></div>
    </form>
    <script src="static\scripts.js"></script>
</body>
</html>
